// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation of the site/application.
// -----------------------------------------------------------------------------

#header{
	.header--navigation{
		 ul{
			@include de-ul;
			> li{
				> a, > a:visited{
					color: $nav-link;
					display: block;
					background: transparent;
					line-height: 1.1;
					position: relative;
					transition: color 0s $ease 0s;
					font-weight: 600;
					&:hover{
						color: $nav-link-hover;
						text-decoration: none;
						transition: color 0s $ease 0.25s;
					}
				}
				&.current-menu-item > a{
				}
				&.current-menu-item, &.current-menu-ancestor{
					a, a:visited{
					}
				}
				&.current-menu-item.menu-item-has-children, &.current-menu-ancestor{
					.sub-menu{
						display: block;
					}
				}
				&.nav_cta{
					position: relative;
				}
			}
		}
		/// Mobile Navigation
		@include breakpoint($bkpt-sub-main){
			#menu-header{
				z-index: 104;
				position: absolute;
				top: 3rem;
				left: 0em;
				right: 0em;
				width: 100%;
				margin-bottom: 0;
				display: block;
				height:0;
				overflow: hidden;
				-webkit-transition: max-height 1s;
				-moz-transition: max-height 1s;
				-ms-transition: max-height 1s;
				-o-transition: max-height 1s;
				transition: max-height 1s;

				transition-delay: 0s;
				display: flex;
				flex-direction: column;
				box-sizing: border-box;
				background-color: $nav-link-mobile-bgnd;
				justify-content: space-around;
				// transition: left 1s $ease;
				text-align: center;
				li{
					display: block;
					a{
						font-size: 1.6666em;
						text-align: center;
						color: $nav-link-mobile;
						background-color:  transparent;
						padding: $mobile-padding;
					}
				}

			}
		}

		// Non Mobile navigation
		@include breakpoint($bkpt-main){
			margin: 0;
			flex-grow: 2;
		    margin-left: 2em;
			> ul{			
				background: transparent;
				position: relative;
				top: auto;
				left: auto;
				margin: 0;
				padding: 0;
				height: auto;
				max-height: none;
				width: 100%;
				display: flex;
			    justify-content: space-between;
			    align-items: center;
				li{
					display: inline-block;
					position: relative;
					&{

						a, a:visited{

						}
					}

					a, a:visited{
						position: relative;
					}
					&.current-menu-item, &.current-menu-ancestor{
						a, a:visited{
						}
					}

				}
			}
		}
	}
	&.activated{
		.header--navigation{
			#menu-header{
				height: calc(100vh - 3rem);
				li{
					a, a:visited{
					}

				}
			}
		}
	}
	.navHamburger{
		font-size: 2em;
		line-height: 1.5em;
		position: absolute;
		z-index:100;
		left: auto;
		right: 0.5em;
		top: 0;
		display: block;
		cursor: pointer;
		box-sizing: padding-box;
		background-clip: border-box;
		color: $nav-hamburger;
		&:hover{
			color: $nav-hamburger;
		}
		@include breakpoint($bkpt-main){
			display: none;
		}
	}
}