// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation of the site/application.
// -----------------------------------------------------------------------------
#header{
	nav.header--navigation {
		> ul{
			@include de-ul;
			margin-bottom: 0;

			//mobile stuff
			background-color: $color-white;
			padding-left: $mobile-padding;
			padding-right: $mobile-padding;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			z-index: 104;
			position: absolute;
			top: 3rem;
			left: 0em;
			right: 0em;
			height:0;
			&.activated{
				@include position(fixed, 3em 0 0 0);
				height: auto;
				max-width: 100%;
				width: auto;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
			}

			//basic link styling
			li {
				a:active, a:visited {
					color: $nav-link-mobile;
					display: block;
					position: relative;
					&:hover, &:focus {
						color: $nav-link-mobile-hover;
						text-decoration: none;
					}
				}
				&.current-menu-item,
				&.current-menu-item, 
				&.current-menu-ancestor,
				&.current-page-ancestor, 
				&.current_page_parent {
					a, a:visited {
						color: $nav-link-mobile-hover;
					}
				}
			}
		}
		/// Mobile Navigation  positioning, hiding, etc
		// Try to avoid styling in here
		@include breakpoint($bkpt-sub-1024){
			> ul{
				

			}
		}
		// Non Mobile navigation
		@include breakpoint($bkpt-main){
			flex-grow: 2;
			ul{	
				// undo mobile stuff
				background-color: transparent;
				height: auto;
				position: relative;
				top: auto;
				left:auto;
				right:auto;
				flex-direction: row;
				// stylez		
				display: flex;
				margin: 0;
				padding: 0;
				height: 100%;
				justify-content: space-between;
				li {
					display: flex;
					justify-content: center;
					align-items: center;
					a, a:visited {
						color: $nav-link; //don't change
						padding: 0 0.5em;
						display: inline-block;
						align-items: center;
						&:hover, &:focus {
							color: $nav-link-hover; //don't change
							text-decoration: none;
						}
					}
					&.current-menu-item,
					&.current-menu-item, 
					&.current-menu-ancestor,
					&.current-page-ancestor, 
					&.current_page_parent {
						a, a:visited {
							color: $nav-link-hover;
						}
					}
				}
			}
		}
	}
	.navHamburger{
		font-size: 2em;
		line-height: 1.5em;
		position: absolute;
		z-index:100;
		left: auto;
		right: 0.5em;
		top: 0;
		display: block;
		cursor: pointer;
		box-sizing: padding-box;
		background-clip: border-box;
		color: $nav-hamburger;
		@include breakpoint($bkpt-1024){
			display: none;
		}
	}
}