// -----------------------------------------------------------------------------
// This file contains all styles related to general block components.
// -----------------------------------------------------------------------------

#intro-block{
	min-height: 100px;
	position: relative;
	.wrap{
		position: relative;
		z-index: 1;
		h1{
			span{
				font-size: 0.5em;
				display: block;
				font-weight: 400;
				font-family: $font-default-second;
				color: $color-grey;
			}
		}
	}
	&.leader{
		@extend %fullheight;
		.wrap{
		}
	}
	&.leader-sm{
		@extend %halfheight;
	}
}