// -----------------------------------------------------------------------------
// This file contains Gutenberg style overrides.
// -----------------------------------------------------------------------------

//clears
.wp-block-button {
	color: inherit;
	margin-bottom: 1em;
	position: relative;
	z-index: 1;
	.wp-block-button__link {
		background-color: transparent;
		border: none;
		border-radius: 0;
		box-shadow: none;
		color: inherit;
		cursor: pointer;
		display: inline-block;
		font-size: inherit;
		margin: 0;
		padding: 0;
		text-align: left;
		text-decoration: none;
		white-space: normal;
		overflow-wrap: break-word;
	}
}

// restyles
#content {
	// Variables
	// Grid size
	$grid-size-small: 4px;
	$grid-size: 8px;
	$grid-size-large: 16px;

	// Block UI
	// $default-block-margin: 28px; // This value provides a consistent, contiguous spacing between blocks (it's 2x $block-padding).

	// Blocks
	$block-padding: 14px; // Space between block footprint and focus boundaries. These are drawn outside the block footprint, and do not affect the size.
	$block-spacing: 4px; // Vertical space between blocks.
	$block-side-ui-width: 28px; // Width of the movers/drag handle UI.
	$block-side-ui-clearance: 2px; // Space between movers/drag handle UI, and block.
	$block-container-side-padding: $block-side-ui-width + $block-padding + 2 * $block-side-ui-clearance; // Total space left and right of the block footprint.
	$block-bg-padding--v: $block-padding + $block-spacing + $block-side-ui-clearance; // padding for Blocks with a background color (eg: paragraph or group)
	$block-bg-padding--h: $block-side-ui-width + $block-side-ui-clearance; // padding for Blocks with a background color (eg: paragraph or group)


	// alignment classes
	.wp-block-columns, 
	.wp-block-text-columns, 
	.wp-block-pullquote, 
	.wp-block-quote, 
	.wp-block-gallery,	
	.wp-block-image, 
	.wp-block-cover, 
	.wp-block-media-text,
	.wp-block-group
	{
		.alignnone {

		}
		.aligncenter {
			display: table;
		}
		.alignleft, .alignright{
			@include breakpoint($bkpt-main) {
				height: auto;
				@include widtho(6);
				float: left;
			}
			@include breakpoint($bkpt-1280) {
				@include widtho(4);
			}
		}
		.alignleft {
			@include breakpoint($bkpt-main){
				float: left;
				margin-right: $internal-padding;
			}
		}
		.alignright {
			@include breakpoint($bkpt-main){
				float: right;
				margin-left: $internal-padding;
			}
		}
		
		&.alignfull {
			@include breakpoint($bkpt-main){
				margin-left: calc( -100vw / 2 + 100% / 2 );
				margin-right: calc( -100vw / 2 + 100% / 2 );
				max-width: 100vw;
				width: auto;
			}

		}
		&.alignwide{
			@include breakpoint($bkpt-1440) {
				margin-left: -100px;
				margin-right: -100px;
				max-width: #{$wrap-width + 200px};
			}
			@include breakpoint($bkpt-1600) {
				max-width: #{$wrap-width_large + 200px};
			}
		}
	}	


	// // Columns
	// .wp-block-columns {
	//	display: flex;
	//	margin-bottom: 1em;

	//	// Responsiveness: Allow wrapping on mobile.
	//	flex-wrap: wrap;

	//	@include breakpoint($bkpt-main) {
	//		flex-wrap: nowrap;
	//	}
	// }

	// .wp-block-column {
	//	margin-bottom: 1em;
	//	flex-grow: 1;

	//	// Responsiveness: Show at most one columns on mobile.
	//	flex-basis: 100%;

	//	// Prevent the columns from growing wider than their distributed sizes.
	//	min-width: 0;

	//	// Prevent long unbroken words from overflowing.
	//	word-break: break-word; // For back-compat.
	//	overflow-wrap: break-word; // New standard.

	//	@include breakpoint($bkpt-main) {

	//		// Beyond mobile, allow 2 columns.
	//		flex-basis: calc(50% - #{$grid-size-large});
	//		flex-grow: 0;

	//		// Add space between the 2 columns. Themes can customize this if they wish to work differently.
	//		// Only apply this beyond the mobile breakpoint, as there's only a single column on mobile.
	//		&:nth-child(even) {
	//			margin-left: $grid-size-large * 2;
	//		}
	//	}

	//	@include breakpoint($bkpt-main) {

	//		// When columns are in a single row, add space before all except the first.
	//		&:not(:first-child) {
	//			margin-left: $grid-size-large * 2;
	//		}
	//	}
	// }
	
	
	.wp-block-image {
		margin-top: 0;
	}


	@include wp-block-columns;
	/**
	 * All Columns Alignment
	 */
	.wp-block-columns {
		align-items: start;
		&.are-vertically-aligned-top {
			align-items: start;
		}

		&.are-vertically-aligned-center {
			align-items: center;
		}

		&.are-vertically-aligned-bottom {
			align-items: end;
			margin-bottom: 2em;
			p, 
			ul {
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			@include breakpoint($bkpt-main) {
				margin-bottom: 4em;
			}
		}
		&.are-asymm {
			grid-template-columns: repeat(3,1fr);
			.wp-block-column {
				&:nth-of-type(1) {
					grid-column: span 1;
				}
				&:nth-of-type(2) {
					grid-column: span 2;
				}
			}
		}
	}

	/**
	 * Individual Column Alignment
	 */
	.wp-block-column {
		margin-bottom: 0;
		&.is-vertically-aligned-top {
			align-self: flex-start;
		}

		&.is-vertically-aligned-center {
			display: flex;
			flex-direction: column;
			align-self: center;
		}

		&.is-vertically-aligned-bottom {
			display: flex;
			flex-direction: column;
			align-self: flex-end;
		}
	}

	// Text Columns
	.wp-block-text-columns {
		display: flex;

		&.aligncenter {
			display: flex;
		}

		.wp-block-column {
			margin: 0 16px;
			padding: 0;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		&.columns-2 .wp-block-column {
			width: calc(100% / 2);
		}
		&.columns-3 .wp-block-column {
			width: calc(100% / 3);
		}
		&.columns-4 .wp-block-column {
			width: calc(100% / 4);
		}
	}

	// Blockquote
	.wp-block-quote {
		&.is-style-large,
		&.is-large {
			// margin: 0 0 16px;
			margin-bottom: 2em;
			padding: 0 1em;

			p {
				font-size: 1.142857143em;
				// font-style: italic;
				line-height: 1.6;
				text-align: left;
			}

			cite,
			footer {
				display: block;
				font-size: .857142857em;
				text-align: right;
			}
		}
		&.alignleft,
		&.alignright {
			p {
				font-size: 1em;
			}
		}
	}

	// Pullquote
	.wp-block-pullquote {
		padding: 2em 0 1em;
		margin-left: 0;
		margin-right: 0;
		margin-top: 2em;
		margin-bottom: 5em;
		// text-align: center;
		position: relative;
		&.alignleft,
		&.alignright {
			p {
				font-size: 1em;
			}
		}
		
		blockquote {
			position: relative;
			margin: 1em 0;
			p {
				font-size: 1em;
				line-height: 1.3;
				text-align: left;
				font-weight: 900;
				margin-bottom: 0.5em;
			}
		}
		cite,
		footer {
			display: block;
			// color: $color-white;
			position: relative;
			text-align: right;
		}
		.has-text-color a {
			color: inherit;
		}
		@include breakpoint($bkpt-main) {
			blockquote {
				p {
					font-size: 2.285714286em;
				}
			}
		}
	}
	.wp-block-pullquote:not(.is-style-solid-color) {
		background: none;
	}

	.wp-block-pullquote.is-style-solid-color {
		border: none;
		blockquote {
			margin-left: auto;
			margin-right: auto;
			text-align: left;

			max-width: 60%;

			p {
				margin-top: 0;
				margin-bottom: 0;
				font-size: 1.523809524em;
			}

			cite {
				text-transform: none;
				font-style: normal;
			}
		}
	}

	.wp-block-pullquote cite {
		color: inherit;
	}
	.wp-block-embed {
		margin: 0;
		@include breakpoint($bkpt-sub-main) {
			iframe {
				width: 100%;
				height: auto;
			}
		}
	}
	.wp-block-cover {
		margin-bottom: 0;
		@include breakpoint($bkpt-sub-768) {
			display: none;
		}
	}
	.wp-block-gallery {
		// @include gallerygrid;
		.wp-block-gallery,
		.blocks-gallery-grid {
			display: flex;
			flex-wrap: wrap;
			list-style-type: none;
			padding: 0;
			// Some themes give all <ul> default margin instead of padding.
			margin: 0;

			.blocks-gallery-image,
			.blocks-gallery-item {
				// Add space between thumbnails, and unset right most thumbnails later.
				margin: 0 $internal-padding $internal-padding 0;
				display: flex;
				flex-grow: 1;
				flex-direction: column;
				justify-content: center;
				position: relative;

				figure {
					margin: 0;
					height: 100%;

					// IE doesn't support flex so omit that.
					@supports (position: sticky) {
						display: flex;
						align-items: flex-end;
						justify-content: flex-start;
					}
				}

				img {
					display: block;
					max-width: 100%;
					height: auto;
				}

				// IE doesn't handle cropping, so we need an explicit width here.
				img {
					width: 100%;

					// IE11 doesn't read rules inside this query. They are applied only to modern browsers.
					@supports (position: sticky) {
						width: auto;
					}
				}

				figcaption {
					position: absolute;
					bottom: 0;
					width: 100%;
					max-height: 100%;
					overflow: auto;
					padding: 40px 10px 9px;
					text-align: center;

					img {
						display: inline;
					}
				}
			}

			// Cropped
			&.is-cropped .blocks-gallery-image,
			&.is-cropped .blocks-gallery-item {
				a,
				img {
					// IE11 doesn't support object-fit, so just make sure images aren't skewed.
					// The following rules are for all browsers.
					width: 100%;

					// IE11 doesn't read rules inside this query. They are applied only to modern browsers.
					@supports (position: sticky) {
						height: 100%;
						flex: 1;
						object-fit: cover;
					}
				}
			}

			// On mobile and responsive viewports, we allow only 1 or 2 columns at the most.
			& .blocks-gallery-image,
			& .blocks-gallery-item {
				width: calc(50% - #{ $internal-padding });

				&:nth-of-type(even) {
					margin-right: 0;
				}
			}

			&.columns-1 .blocks-gallery-image,
			&.columns-1 .blocks-gallery-item {
				width: 100%;
				margin-right: 0;
			}
			// Beyond mobile viewports, we allow up to 8 columns.
			@include breakpoint($bkpt-768) {
				@for $i from 3 through 8 {
					&.columns-#{ $i } .blocks-gallery-image,
					&.columns-#{ $i } .blocks-gallery-item {
						width: calc(#{ 100% / $i } - #{ $internal-padding * ( $i - 1 ) / $i });
						margin-right: $internal-padding;
					}
				}

				// Unset the right margin on every rightmost gallery item to ensure center balance.
				@for $column-count from 1 through 8 {
					&.columns-#{ $column-count } .blocks-gallery-image:nth-of-type(#{ $column-count }n),
					&.columns-#{ $column-count } .blocks-gallery-item:nth-of-type(#{ $column-count }n) {
						margin-right: 0;
					}
				}
			}

			// Last item always needs margins reset.
			.blocks-gallery-image:last-child,
			.blocks-gallery-item:last-child {
				margin-right: 0;
			}


		}
		li {
			&:before {
				display: none;
			}
		}
	}
	.is-cropped{
		figure{
			img{
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.wp-block-media-text {
		grid-column-gap: $internal-padding;
		align-items: start;
		margin-bottom: 1em;
		.wp-block-media-text__content {
			padding: 0;

		}
	}
	// images placed by wordpress
	.wp-block-image, 
	.wp-block-cover, 
	.wp-block-gallery {
		margin-bottom: 1em;
		clear: both;
		margin-top: 0;
		// caption
		figure {
			padding: 0;
			margin-bottom: 0 !important;
			text-align: left;
			font-size: 0.777777778em;
			line-height: 1.2;
			display: block;
			img {
				height: auto;
			}
		}
		&.wp-caption {
			margin-top: 2em;
			figcaption {
				padding: $internal-padding/2 0 0;
				margin-bottom: 0 !important;
				text-align: left;
				font-size: 0.777777778em;
				line-height: 1.2;
				display: block;
			}
			img {

			}
		}
	}



}