// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
	clear: both;
	content: '';
	display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */

// #container {
// 	overflow: hidden;
// }

.wrap {
	@include wrapper;
}
.gridbreaker {
	@include wrapbreaker;
}
/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *		See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
	overflow: hidden;
	padding: 0; /* 1 */
	text-indent: 101%;
	white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden { 
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


/**
 * Prevent scrolling on an element
 * Very usefull for preventing scroll on body when a mobile nav is activated
 */

.stuck {
	overflow: hidden;
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.hidden {
	display: none !important;
}
.show {
	display: block !important;
}
.invisible {
	visibility: hidden;
}

#content {
	img {
		max-width: 100%;
		height: auto;
		display: block;
	}

	
}
// pagination
.pagination {
	overflow: hidden;
	padding: 1em 0;
	text-align: center;
	position: relative;
	grid-column: span 12;
	ul {
		text-align: center;
		display: inline-block;
		float: none;
		li {
			list-style: none;
			display: inline-block;
			float: none;
			text-align: center;
			a, 
			a:visited, 
			span {
				text-decoration: none !important;
				display: inline-block;
				padding: 0.5em 1em;
				// border: 2px solid $color-btn-border;
				// border-radius: 50px;
				background: $pagination-background;
				color: $pagination-font;
				text-transform: uppercase;
				font-size: 0.8em;
				line-height: $line-height;
				letter-spacing: 1px;
				font-weight: 600;
				transition: all 700ms $ease;
				// box-shadow: $color-btn 0 0px 0px 0px inset;
				&:hover {
					background-color: $pagination-background-hover;
					color: $pagination-font-hover;
				}
			}
			span {
				background-color: $pagination-background-hover;
				color: $pagination-font-hover;
				border-radius: 50px;
				&.current {
					color: $pagination-current-font;
					background-color: $pagination-current-background;
				}
				&.dots {
					// border-color: darken($pagination-current-border, 10);
					color: $color-foreground;
				}
			}
		}
	}
}



// slideshow
#content .slideshow-window {
	border-color: $color-white;
	background-color: $color-white;
}

// social channels
#header {
	.social-channels {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-start;
		@include de-ul;
		margin-bottom: 0;
		li {
			margin-bottom: 0.5em;
			margin-right: 1em;
			a {
			}
			&.icon-twitter {
				@include icon-social-svg("icon--twitter.svg", $color-foreground, $color-twitter, 30);
			}
			&.icon-facebook {
				@include icon-social-svg("icon--facebook.svg", $color-foreground, $color-facebook, 30);
			}
			&.icon-instagram {
				@include icon-social-svg("icon--instagram.svg", $color-foreground, $color-instagram, 30);
			}
			&.icon-youtube {
				@include icon-social-svg("icon--youtube.svg", $color-foreground,$color-youtube, 30);
			}
			&.icon-linkedin {
				@include icon-social-svg("icon--linkedin.svg", $color-foreground, $color-linkedin, 30);
			}
		}
	}
}
#footer {
	.social-channels {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-start;
		@include de-ul;
		margin-bottom: 0;
		li {
			margin-bottom: 0.5em;
			margin-right: 1em;
			a {
			}
			&.icon-twitter {
				@include icon-social-svg("icon--twitter.svg", $color-foreground, $color-twitter, 30);
			}
			&.icon-facebook {
				@include icon-social-svg("icon--facebook.svg", $color-foreground, $color-facebook, 30);
			}
			&.icon-instagram {
				@include icon-social-svg("icon--instagram.svg", $color-foreground, $color-instagram, 30);
			}
			&.icon-youtube {
				@include icon-social-svg("icon--youtube.svg", $color-foreground,$color-youtube, 30);
			}
			&.icon-linkedin {
				@include icon-social-svg("icon--linkedin.svg", $color-foreground, $color-linkedin, 30);
			}
		}
	}
}

#content {
	.social-channels {
		margin: 0;
		padding: 0;
		@include de-ul;
		margin-bottom: 0;
		li {
			margin-bottom: 0.5em;
			margin-right: 1em;
			a {
				display: flex;
				align-items: center;
			}
			&.icon-twitter {
				@include icon-social-text-svg("icon--twitter_contact.svg", $color-foreground, $color-twitter, 30);
			}
			&.icon-facebook {
				@include icon-social-text-svg("icon--facebook_contact.svg", $color-foreground, $color-facebook, 30);
			}
			&.icon-instagram {
				@include icon-social-text-svg("icon--instagram_contact.svg", $color-foreground, $color-instagram, 30);
			}
			&.icon-youtube {
				@include icon-social-text-svg("icon--youtube_contact.svg", $color-foreground,$color-youtube, 30);
			}
			&.icon-linkedin {
				@include icon-social-text-svg("icon--linkedin_contact.svg", $color-foreground, $color-linkedin, 30);
			}
		}
	}
	.sidebar__blue .social-channels {
		margin: 0;
		padding: 0;
		@include de-ul;
		margin-bottom: 0;
		li {
			margin-bottom: 0.5em;
			margin-right: 1em;
			a {
				display: flex;
				align-items: center;
			}
			&.icon-twitter {
				@include icon-social-text-svg("icon--twitter_contact.svg", $color-foreground, $color-twitter, 30);
			}
			&.icon-facebook {
				@include icon-social-text-svg("icon--facebook_contact.svg", $color-foreground, $color-facebook, 30);
			}
			&.icon-instagram {
				@include icon-social-text-svg("icon--instagram_contact.svg", $color-foreground, $color-instagram, 30);
			}
			&.icon-youtube {
				@include icon-social-text-svg("icon--youtube_contact.svg", $color-foreground,$color-youtube, 30);
			}
			&.icon-linkedin {
				@include icon-social-text-svg("icon--linkedin_contact.svg", $color-foreground, $color-linkedin, 30);
			}
		}
	}
}

.block--sticky {
	@include breakpoint($bkpt-768) {
		position: sticky;
		top: calc(6em);
		align-self: start;
		margin-bottom: 1em;
	}
}
.parent--block--sticky {
	> div {
		@include breakpoint($bkpt-main) {
			position: sticky;
			top: 3em;
			align-self: start;
			margin-bottom: 1em;
		}
	}
}
.full-width {
	@include breakpoint($bkpt-main) {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}
}